body {
    margin: 0;
    font-size: 62.5%;
}

.app {
    font-size: 1.2rem;
}

.input-container {
    margin: 2rem
}

.todos-container {
    margin: 1rem;
}

.todo {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #000;
}

.todo__title {
    margin-bottom: 0.3rem;
}

.btn {
    margin: 0.5rem 0.5rem 0.2rem 0rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}